<div class="">
  <table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre Usuario</th>
      <th scope="col">Acción</th>
      <!--<th scope="col">Observación</th>-->
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let audit of formulario | sortBy:'desc':'fechaCreacion' | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td>{{audit.fechaCreacion | date: 'dd/MM/yyyy h:m a'}}</td>
      <td>{{audit.idUsuario}}</td>
      <td>{{audit.nombreUsuario}}</td>
      <td *ngIf="!audit.cambioNucleo">{{audit.idTipoFormulario}}</td>
      <td *ngIf="audit.cambioNucleo">CAMBIO NUCLEO</td>
      <!--<td>{{audit.observacion}}</td>-->
      <td class="text-right">

        <button type="button" *ngIf="audit.reporteGenerado" class="btn btn-success btn-primary"
                [disabled]="audit.noGenerar"
                matTooltip="Reporte Cambio" (click)="generarReporte(audit, false)">
          <fa-icon [icon]="['fas', 'file-alt']"></fa-icon>
        </button>

        <button type="button" *ngIf="!audit.reporteGenerado" class="btn btn-danger" matTooltip="Nuevo Reporte"
                [disabled]="audit.noGenerar"
                (click)="generarReporte(audit, false)">
          <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
        </button>
        <span class="pr-1"></span>
        <button type="button" *ngIf="audit.reporteGenerado" class="btn btn-success btn-primary"
                [disabled]="audit.noGenerar"
                matTooltip="Descargar Cambio" (click)="generarReporte(audit, true)">
          <fa-icon [icon]="['fas', 'download']"></fa-icon>
        </button>

      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!formulario || formulario?.length == 0" class="text-center">
    <h4>SIN DATOS</h4>
  </div>

  <div class="pagination justify-content-end">

    <mat-form-field appearance="outline" fxFlex="10">
      <mat-label>Cantidad</mat-label>
      <mat-select>
        <mat-option value="5">
          5
        </mat-option>
        <mat-option value="10">
          10
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"></ngb-pagination>
  </div>


</div>
