<div class="text-center pt-5">
  <img src="./assets/img/logo_login.png" height="100" class="rounded-circle" alt="logo">
  <h4 class="pt-3"> CAMBIO DE CONTRASEÑA</h4>
  <h5 class="pt-3"> El usuario {{usuario}} debe cambiar la contraseña</h5>
</div>
<div class="col-md-5 mx-auto text-center">

  <form [formGroup]="loginForm" (submit)="resetear()" fxLayout="column">

    <mat-card class="row">
      <mat-form-field class="col">
        <mat-label>Contraseña Nueva</mat-label>
        <input type="password" matInput placeholder="Digite su contraseña nueva" formControlName="password" class="form-control">
        <fa-icon matSuffix [icon]="['fas', 'key']"></fa-icon>
        <mat-error *ngIf="loginForm.get('password').invalid">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>Contraseña Validar</mat-label>
        <input type="password" matInput placeholder="Digite nuevamente su contraseña" formControlName="confirmapswd" class="form-control">
        <fa-icon matSuffix [icon]="['fas', 'key']"></fa-icon>
        <mat-error *ngIf="loginForm.get('confirmapswd').invalid">Este campo es requerido</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" class="btn-Crear">Actualizar</button>
    </mat-card>

  </form>

</div>
