<div class="container text-center pt-3">
  <h4 class="display-p">Bienvenido</h4>
  <p class="display-p1 mb-5">Que desea realizar?</p>

  <div class="col-md-12 mx-auto">
    <div class="row mx-auto">

      <div class="col-9 col-md-3 mx-auto opc-inicio" [routerLink]="['../fincas']">
        <h4 class="display-p">Administrar Fincas</h4>
      </div>

      <div class="col-9 col-md-3 mx-auto opc-inicio" [routerLink]="['../estadosalud']">
        <h4 class="display-p">Reporte Estado Salud</h4>
      </div>

      <div class="col-9 col-md-3 mx-auto opc-inicio" [routerLink]="['../perfil']">
        <h4 class="display-p">Ver Perfil</h4>
      </div>

    </div>
  </div>

</div>
