<form [formGroup]="usuarioForm" (submit)="agregarUsuario()">
    <mat-form-field appearance="outline">
      <mat-label>Identificacion</mat-label>
      <input matInput placeholder="Placeholder" formControlName="identificacion">
      <mat-icon matSuffix ></mat-icon>
      <fa-icon matSuffix [icon]="['fas', 'address-card']"></fa-icon>
      <mat-error *ngIf="usuarioForm.get('identificacion').invalid">Este campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Placeholder" formControlName="nombreUsuario">
      <!--<fa-icon matSuffix [icon]="['fas', 'key']"></fa-icon>-->
      <mat-error *ngIf="usuarioForm.get('nombreUsuario').invalid">Este campo es requerido</mat-error>
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput placeholder="Placeholder" formControlName="nombre">
    <!--<fa-icon matSuffix [icon]="['fas', 'key']"></fa-icon>-->
    <mat-error *ngIf="usuarioForm.get('nombre').invalid">Este campo es requerido</mat-error>
  </mat-form-field>

  <p>
    <button type="submit" mat-stroked-button>Agregar</button>
  </p>
</form>


<table mat-table [dataSource]="getUsuarios()" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="identificacion">
    <th mat-header-cell *matHeaderCellDef> Identificacion </th>
    <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreUsuario}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['identificacion', 'nombre', 'usuario']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['identificacion', 'nombre', 'usuario'];"></tr>
</table>
