<mat-toolbar [style.margin-bottom]="'0px'" class="mat-elevation-z2" fxLayoutGap="10px">

  <button mat-icon-button id="menu" (click)="navService.openNav()" *ngIf="mostrarMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button routerLink="inicio" *ngIf="mostrarHome">
    <mat-icon>home</mat-icon>
  </button>

  <span style="width: 100%;text-align: center;" [class.titulo-translate]="mostrarHome">{{nombreModulo}}</span>

  <button mat-icon-button [matMenuTriggerFor]="infoUsuario" *ngIf="!ocultarUsuario">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #infoUsuario="matMenu">

    <button mat-menu-item [routerLink]="['perfil']">
      <mat-icon>account_circle</mat-icon>
      {{usuario.nombre}}
    </button>

    <!--Cerrar Sesion-->
    <button mat-menu-item (click)="salir();">
      <mat-icon>exit_to_app</mat-icon>
      Cerrar sesión
    </button>

  </mat-menu>

</mat-toolbar>

