.mat-toolbar {
  background-color: #1C5531;
  color: white;
}

/*Cambios boostrap*/
.form-control:focus {
  border: none !important;
  box-shadow: none !important;
}

button {
  outline: none !important;
}

.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}


.titulo-translate{
  transform: translateX(-20px)
}


